<div class="container">
  <div class="display-flex mb-4" style="height: 40px; width: 100%">
    <h6 style="flex: 1 1 auto">Registro computadores</h6>
    <img src="../../assets/gc-icon.png" style="height: 100%" />
  </div>
  <!-- Formulario de inserción -->
  <form id="register-form" class="row" (ngSubmit)="submitForm()">
    <!-- gce_nombre_equipo -->
    <div class="mb-3 col-lg-4 col-sm-6">
      <input
        required
        class="form-control"
        type="text"
        [(ngModel)]="gce_nombre_equipo"
        name="gce_nombre_equipo"
        placeholder="Nombre del equipo"
      />
    </div>
    <!-- gce_board -->
    <div class="mb-3 col-lg-4 col-sm-6">
      <input
        required
        class="form-control"
        type="text"
        name="gce_board"
        [(ngModel)]="gce_board"
        placeholder="Board"
      />
    </div>
    <!-- gce_case -->
    <div class="mb-3 col-lg-4 col-sm-6">
      <input
        required
        class="form-control"
        type="text"
        name="gce_case"
        [(ngModel)]="gce_case"
        placeholder="Case"
      />
    </div>
    <!-- gce_procesador -->
    <div class="mb-3 col-lg-4 col-sm-6">
      <input
        required
        class="form-control"
        type="text"
        [(ngModel)]="gce_procesador"
        name="gce_procesador"
        placeholder="Procesador"
      />
    </div>
    <!-- gce_grafica -->
    <div class="mb-3 col-lg-4 col-sm-6">
      <input
        required
        class="form-control"
        type="text"
        [(ngModel)]="gce_grafica"
        name="gce_grafica"
        placeholder="Gráfica"
      />
    </div>
    <!-- gce_ram -->
    <div class="mb-3 col-lg-4 col-sm-6">
      <input
        required
        class="form-control"
        [(ngModel)]="gce_ram"
        type="text"
        name="gce_ram"
        placeholder="Ram"
      />
    </div>
    <!-- gce_disco_duro -->
    <div class="mb-3 col-lg-4 col-sm-6">
      <input
        required
        class="form-control"
        type="text"
        [(ngModel)]="gce_disco_duro"
        name="gce_disco_duro"
        placeholder="Disco"
      />
    </div>
    <!-- gce_teclado -->
    <div class="mb-3 col-lg-4 col-sm-6">
      <input
        required
        class="form-control"
        type="text"
        [(ngModel)]="gce_teclado"
        name="gce_teclado"
        placeholder="Teclado"
      />
    </div>
    <!-- gce_mouse -->
    <div class="mb-3 col-lg-4 col-sm-6">
      <input
        required
        class="form-control"
        type="text"
        [(ngModel)]="gce_mouse"
        name="gce_mouse"
        placeholder="Mouse"
      />
    </div>
    <!-- gce_pantalla -->
    <div class="mb-3 col-sm-6 col-lg-6">
      <input
        required
        class="form-control"
        type="text"
        [(ngModel)]="gce_pantalla"
        name="gce_pantalla"
        placeholder="Pantalla"
      />
    </div>
    <!-- gce_estado -->
    <label class="mb-3 col-sm-6 col-lg-6 position-relative">
      <div class="position-absolute">Estado</div>
      <select class="form-select" name="gce_estado" [(ngModel)]="gce_estado">
        <option value="0">Inactivo</option>
        <option value="1" selected>Activo</option>
      </select>
    </label>
    <div class="col-12 mb-3 display-grid">
      <button type="submit" class="btn btn-primary">
        <i
          class="fas fa-plus-square me-2 vertical-align-middle"
          style="font-size: 1.2em"
        ></i>
        Agregar
      </button>
    </div>
  </form>

  <h6 class="ms-5">Computadores</h6>
  <!-- Listado -->
  <div class="card">
    <div class="card-body">
      <table id="list-table" #myTable class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Board</th>
            <th>Case</th>
            <th>Procesador</th>
            <th>Gráfica</th>
            <th>Ram</th>
            <th>Disco duro</th>
            <th>Teclado</th>
            <th>Mouse</th>
            <th>Pantalla</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of data"
          id="{{ obj.gce_id }}"
          class="contItems"
          [ngStyle]="{ 'background-color': obj.gce_estado === 0 ? '#FF4269' : (obj.gce_estado === 1 ? 'transparent' : '') }"
          >
            <td>{{ obj.gce_nombre_equipo | titlecase }}</td>
            <td>{{ obj.gce_board | titlecase }}</td>
            <td>{{ obj.gce_case | titlecase }}</td>
            <td>{{ obj.gce_procesador | titlecase  }}</td>
            <td>{{ obj.gce_grafica | titlecase  }}</td>
            <td>{{ obj.gce_ram | titlecase  }}</td>
            <td>{{ obj.gce_disco_duro | titlecase  }}</td>
            <td>{{ obj.gce_teclado | titlecase  }}</td>
            <td>{{ obj.gce_mouse | titlecase  }}</td>
            <td>{{ obj.gce_pantalla | titlecase  }}</td>
            <td>
              <div class="switch" [ngClass]="{ 'active': obj.gce_estado === 1, 'switch-off': obj.gce_estado === 0}" (click)="toggleSwitch(obj.gce_id)">
                <div class="slider"></div>
              </div>
            </td>
            <!--<td>{{ obj.gce_estado }}</td>-->
            <td>
              <button
              id="editEquipo"
                data-bs-toggle="modal"
                data-bs-target="#editRegistroComputadores"
                (click)="openModalEdit(obj.gce_id)"
                class=
              >
              <span class="material-symbols-outlined">
                edit
                </span>
              </button>
            </td>
            <td>
              <button

              id="deleteEquipo"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
                (click)="openModalDelete(obj.gce_id)"
              >
              <span class="material-symbols-outlined">
                delete
                </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <app-modal-edit-computadores #modal></app-modal-edit-computadores>
      <app-modal-delete-computadores #modalDelete></app-modal-delete-computadores>
    </div>
  </div>
</div>
